<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    #webgl {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      background: #162129;
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
<ul>
  <li>
    <a href="./danmu.html">弹幕</a>
  </li>
  <li>
    <a href="./draw.html">签约</a>
  </li>
  <li>
    <a href="./lottery3d.html">3d抽奖</a>
  </li>
  <li>
    <a href="./sign3d.html">3d签到</a>
  </li>
</ul>
</body>

</html>
